{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'aboutMeStyle.css' %}">
    <title>Matthew Kennedy - Junior Developer</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="background">
        <div class="mainBody">
            <section id="titleSection">
                <img style="width:100%; max-width:300px"
                     src="https://i.ibb.co/YZjd7v4/CU0-A1310-47.jpg"
                     alt="photo of Matthew Kennedy">
                <div id="title">
                    <h1>Matthew Kennedy</h1>
                    <h3>Junior developer - Python, C#</h3>
                </div>
                <hr>
            </section>

            <section>
                <h3>About me</h3>
                <p>I am a driven individual looking to change careers and challenge myself in the world of software development.</p>
                <p>For the past ten years I have worked in healthcare, but I am working hard to reskill and work towards a career
                    change in software development and programming. I have dedicated myself to learning C#, .Net
                    development in my free time, as well as using Unity for games development. I am also undertaking a
                    Software Engineering bootcamp with <a href="https://www.hyperiondev.com/">hyperiondev.com</a> where I am learning
                    Python to add to my skills. I have a good understanding of Object-Oriented Programming, SOLID principles, and
                    extensible program architecture.</p>
                <p>My healthcare background has given me a number of transferable skills, including excellent communication, the
                    ability to work independently as well as part of a wider team, time management, the skills to organise and
                    prioritise my own workload, adapting to change, and the ability to work calmly under pressure.</p>
                <hr>
            </section>

            <section>
                <h3>Tech Stack</h3>
                <ul>
                    <li>C#, .Net 6.0</li>
                    <li>Python 3.11</li>
                    <li>OOP</li>
                    <li>REST APIs</li>
                    <li>HTML/CSS/Bootstrap</li>
                    <li>Django</li>
                    <li>SQL</li>
                    <li>Unity</li>
                    <li>Git version control</li>
                </ul>
                <hr>
            </section>

            <section>
                <h3>Projects</h3>
                <p>I love videogames, and so a lot of my projects tend to lean in that direction.<br>
                <a href="https://github.com/Drumknott/Stardew-Valley---A-Murder-Mystery">Here's</a> the first large project I ever
                    made, which is a murder-mystery text adventure game set in <a href="https://www.stardewvalley.net/">Stardew Valley</a>.<br>
                <a href="https://github.com/Drumknott/Satisfactory_Factory_Planner">Here's</a> a more recent program, a companion for the videogame
                    <a href="https://www.satisfactorygame.com/">Satisfactory</a> to help you plan and build your factory.</p>
                <p>By looking at the two projects you can certainly see how I've improved and grown as a developer!</p>
                <p>I'm currently working collaboratively on a pixel art game with some friends using Unity.</p>
                <hr>
            </section>

            <section>
                <h3>Contact me</h3>
                <table>
                    <tr>
                        <td>email</td>
                        <td><a href="matthew.kennedy.dev@gmail.com">matthew.kennedy.dev@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>github</td>
                        <td><a href="https://github.com/Drumknott">https://github.com/Drumknott</a></td>
                    </tr>
                    <tr>
                        <td>LinkedIn</td>
                        <td><a href="https://www.linkedin.com/in/matthew-kennedy-dev/">
                            https://www.linkedin.com/in/matthew-kennedy-dev/</a></td>
                    </tr>
                </table>
                <hr>
            </section>
        </div>
    </div>
</body>
</html>