{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'productsStyle.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Hat Mouse</title>
</head>

<body>
    <!Top of page banner>
    <div class="row" style="background-color: #0a7645">
        <div class="col col-md-2 align-self-center" style="color: white; text-align: center">
            <img src="https://i.ibb.co/tBxT5LS/21331886-3.jpg" border="1" alt="Home icon" class="rounded-circle" style="max-width: 20%"><br>
            <a href="index.html" style="color: white">Menu</a>
        </div>
        <div class="col col-md-8 justify-content-md-center py-3">
            <section id="headerBar">
                <h1 style="font-size: 300%"><em>Hat Mouse</em></h1>
                <h3 style="font-size: 150%"><em>Gentleman's Hat Emporium</em></h3>
            </section>
        </div>
        <div class="col col-md-2 align-self-center" style="color: white; text-align: center">
            <img src="https://i.ibb.co/kG8JXxx/21331886-4.jpg" border="1" alt="Basket Icon" class="rounded-circle" style="max-width: 20%"><br>
            <a href="" style="color: white">View Basket</a>
        </div>
    </div>

    <!Top of page image>
    <div class="container">
        <div class="row justify-content-md-center">
            <img src="https://i.ibb.co/6HX9gZV/1-ZFxr0-6v6-Vtc4prr-FI6-Q-2.jpg" alt="banner hats" />
        </div>
    </div>

    <! First item>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-5 py-3 px-lg-5">
                <div class="hovereffect">
                    <img src="https://i.ibb.co/RbwmhyS/angler-hat1649338547-330x330.jpg" alt="outback hat" border="2, border-dark" class="rounded" style="max-width: 80%">
                </div>
            </div>
            <div class="col col-md-3 align-self-center">
                <h3>Outback</h3><br>
                The classic outback hat for long expeditions in the sun. Made with real leather.<br>
                <strong>£85.00</strong><br><br>
                <button type="button" class="btn btn-primary">Add to Basket</button>
            </div>
        </div>
    </div>

    <! Second Item>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-5 py-3 px-lg-5">
                <div class="hovereffect">
                    <img src="https://i.ibb.co/CJfFDsZ/angler-hat1649338601-330x330.jpg" alt="angler-hat" border="2, border-dark" class="rounded" style="max-width: 80%">
                </div>
            </div>
            <div class="col col-md-3 align-self-center">
                <h3>Cowboy</h3><br>
                The classic American Cowboy hat.<br>
                <strong>£120.00</strong><br><br>
                <button type="button" class="btn btn-primary">Add to Basket</button>
            </div>
        </div>
    </div>

    <! Third Item>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-5 py-3 px-lg-5">
                <div class="hovereffect">
                    <img src="https://i.ibb.co/vmkbLsN/cso100257-1-1.jpg" alt="angler-hat" border="2, border-dark" class="rounded" style="max-width: 80%">
                </div>
            </div>
            <div class="col col-md-3 align-self-center">
                <h3>Wimbledon</h3><br>
                A stylish hat for enjoying the British Summer.<br>
                <strong>£50.00</strong><br><br>
                <button type="button" class="btn btn-primary">Add to Basket</button>
            </div>
        </div>
    </div>

    <! Fourth Item>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-5 py-3 px-lg-5">
                <div class="hovereffect">
                    <img src="https://i.ibb.co/3hSMZxj/bob-anglais-74740.jpg" alt="angler-hat" border="2, border-dark" class="rounded" style="max-width: 80%">
                </div>
            </div>
            <div class="col col-md-3 align-self-center">
                <h3>Patchwork Bowler</h3><br>
                For the distinguished countryside gentleman.<br>
                <strong>£50.00</strong><br><br>
                <button type="button" class="btn btn-primary">Add to Basket</button>
            </div>
        </div>
    </div>

    <! Fifth Item>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-5 py-3 px-lg-5">
                <div class="hovereffect">
                    <img src="https://i.ibb.co/QpdkJ9w/flat-cap-mens-hat-01.jpg" alt="angler-hat" border="2, border-dark" class="rounded" style="max-width: 80%">
                </div>
            </div>
            <div class="col col-md-3 align-self-center">
                <h3>Peaked Cap</h3><br>
                Of Peaky Blinders fame; a traditional countryside hat.<br>
                <strong>£65.00</strong><br><br>
                <button type="button" class="btn btn-primary">Add to Basket</button>
            </div>
        </div>
    </div>

    <! Sixth Item>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-5 py-3 px-lg-5">
                <div class="hovereffect">
                    <img src="https://i.ibb.co/7RhL6Bx/brown-pork-pie-trilby-hat-diamond-crown-lined-premium-wool-11581-p.jpg"  alt="angler-hat" border="2, border-dark" class="rounded" style="max-width: 80%">
                </div>
            </div>
            <div class="col col-md-3 align-self-center">
                <h3>Feathered Trilby</h3><br>
                A classic hat with a fun flare of individuality.<br>
                <strong>£80.00</strong><br><br>
                <button type="button" class="btn btn-primary">Add to Basket</button>
            </div>
        </div>
    </div>

    <! Seventh Item>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-5 py-3 px-lg-5">
                <div class="hovereffect">
                    <img src="https://i.ibb.co/JBdcT3q/1.jpg" alt="angler-hat" border="2, border-dark" class="rounded" style="max-width: 80%">
                </div>
            </div>
            <div class="col col-md-3 align-self-center">
                <h3>Top Hat</h3><br>
                An essential for weddings and other grand events.<br>
                <strong>£180.00</strong><br><br>
                <button type="button" class="btn btn-primary">Add to Basket</button>
            </div>
        </div>
    </div>

    <! Eighth Item>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-5 py-3 px-lg-5">
                <div class="hovereffect">
                    <img src="https://i.ibb.co/SRK43dj/a31207507070m.jpg" alt="angler-hat" border="2, border-dark" class="rounded" style="max-width: 80%">
                </div>
            </div>
            <div class="col col-md-3 align-self-center">
                <h3>Ushanka</h3><br>
                A traditional Russian hat for braving the cold weather.<br>
                <strong>£45.00</strong><br><br>
                <button type="button" class="btn btn-primary">Add to Basket</button>
            </div>
        </div>
    </div>

    <! Ninth Item>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-5 py-3 px-lg-5">
                <div class="hovereffect">
                    <img src="https://i.ibb.co/0t6pNrY/pf-177beba8-bowler-derby-2.webp" alt="angler-hat" border="2, border-dark" class="rounded" style="max-width: 80%">
                </div>
            </div>
            <div class="col col-md-3 align-self-center">
                <h3>Bowler</h3><br>
                A classic for businessmen everywhere.<br>
                <strong>£100.00</strong><br><br>
                <button type="button" class="btn btn-primary">Add to Basket</button>
            </div>
        </div>
    </div>

    <! Tenth Item>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-5 py-3 px-lg-5">
                <div class="hovereffect">
                    <img src="https://i.ibb.co/R2mCVFg/81er-w8g-CJL-AC-UL1200.jpg" alt="angler-hat" border="2, border-dark" class="rounded" style="max-width: 80%">
                </div>
            </div>
            <div class="col col-md-3 align-self-center">
                <h3>Patchwork Cap</h3><br>
                A fun take on the classic, this hat is sure to be noticed.<br>
                <strong>£60.00</strong><br><br>
                <button type="button" class="btn btn-primary">Add to Basket</button>
            </div>
        </div>
    </div>

    <! Footer Banner with image and form>
    <div class="container">
        <section id="footerBar">
            <div class="row" style="background-color: #0a7645">

                <div class="col col-md-5 py-3 px-lg-5">
                    <img src="https://i.ibb.co/qj52vwk/tp-mens-hats-1.jpg" alt="tp-mens-hats-1" border="2, border-dark" class="rounded" style="max-width: 100%">
                </div>

                <div class="col col-md-6 py-3 px-lg-5">
                    <form style="color: white">
                        <h3 style="font-family: garamond"><em>Join our mailing list</em></h3>
                        <div class="mb-3">
                            <label for="customerName" class="form-label">Name</label>
                            <input type="username" class="form-control" id="customerName">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text" style="color: white">We'll never share your email with anyone else.</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>